<div style="display: flex;">
    <div class="leftside">
        <div>Image</div>
    </div>
    <div class="rightside">
        <div class="rating">
            Rating
        </div>
        <textarea class="text">
        </textarea>
        <div id="create-button">
            <button id="new-post-btn">
                Create
            </button>
        </div>
    </div>

</div>