<div class="container cloumns">

    <div>
        <button class="button is-large is-responsive has-background-warning-dark is-centered">
            <a href="/dashboard/newpost">
                <p class="has-text-warning-light">New Post</p>
            </a>
        </button>
    </div>
    <br>
    <div>

        <article class="column message is centered">
            <div class="message-header has-background-warning-light">
                <p class="has-text-warning-dark">Brewery Name</p>
            </div>

            {{#each posts as |post| }}
                <div class="card">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-28x28">
                                    <img class="is-rounded" src="{{post.image}}"
                                        >
                                </figure>
                            </div>
                            <div class="media-content">
                            </div>
                        </div>
                        <div class="content has-text-success-dark">
                            Rating: {{post.rating}}
                            Description: {{post.description}}
                            <br>
                            <time class="has-text-grey" datetime="2016-1-1">{{format_time post.date}}</time>
                        </div>
                    </div>
                </div>
        </div>
        {{/each}}
        </article>

    </div>

</div>