<div class="container">
    <article class="message">
        <div class="message-header is-centered">
            <p>Brewery Name</p>
        </div>

        <div class="card">
            <div class="card-image">
                <figure class="image is-5by6">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
            </div>
        </div>
    </article>

    <button class="button is-large is-responsive is-primary">
        <a href="/newpost">
            New Post
        </a>
    </button>
</div>


<button id="get-values">Testing Images on DB</button>

<script>
    const postFormHandler = async (event) => {

        const response = await fetch('/api/posts/post', {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json().then(x => {
                for (z = 0; z < x.length; z++) {
                    let preview = document.createElement('img');
                    preview.style.height = "250px";
                    preview.style.width = "250px";
                    preview.id = "post-img";
                    let splitImage = x[z].image.split("dataimage/pngbase64");
                    let newImage = 'data:image/png;base64,' + splitImage[1];
                    preview.src = newImage.replace("=", "");
                    document.querySelector('#get-values').appendChild(preview);
                }

            }))
            .then(data => console.log(data))
    };
    document
        .querySelector('#get-values')
        .addEventListener('click', postFormHandler);
</script>