<div class="container">

    <article class="message is-primary">
        <div class="message-header">
            <p>Login</p>
        </div>
        <div class="message-body">
            <div class="field">
                <p class="control">
                    <input id="email-login" class="input" type="email" placeholder="Email">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input id="password-login" class="input" type="password" placeholder="Password">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button id="login-form" class="button is-success">
                        Login
                    </button>
                </p>
            </div>
        </div>
    </article>

</div>

<script src="js/login.js"></script>