<div class="dropdown is-active">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Select an Event</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="#" class="dropdown-item">
                Baseball
            </a>
            <a class="dropdown-item">
                Basketball
            </a>
            <a href="#" class="dropdown-item is-active">
                Football
            </a>
            <a href="#" class="dropdown-item">
                Soccer
            </a>
        </div>
    </div>
</div>

<div class="dropdown is-active">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Select a Stadium</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="#" class="dropdown-item">
                Raymond James Stadium
            </a>
            <a class="dropdown-item">
                Fenway Park
            </a>
            <a href="#" class="dropdown-item is-active">
                Stadium Name
            </a>
            <a href="#" class="dropdown-item">
                Stadium Name
            </a>

        </div>
    </div>
</div>

<section class="section">
			<div class="container">
				<!-- Start Carousel -->
				<div id="carousel-demo" class="carousel">
					<div class="item-1">
						<!-- Slide Content -->
					</div>
					<div class="item-2">
						<!-- Slide Content -->
					</div>
					<div class="item-3">
						<!-- Slide Content -->
					</div>
				</div>
				<!-- End Carousel -->
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
		<script>
		bulmaCarousel.attach('#carousel-demo', {
			slidesToScroll: 1,
			slidesToShow: 4
		});
		</script>

{{!--
<div style="display: flex;">
    <div class="leftside">
        <label for="States"></label>
        <select name="States" id="states">
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option> 
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option> 
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option> 
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option> 
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option> 
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option> 
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
        </select>
     <!--   {{#if dataAPI }}  -->
        <div class="dropdown-city">
            <label for="city"></label>
            <select name="City" id="city">
                <option value="Raymond James Stadium">Raymond James Stadium</option>
            </select>
        </div>  
     <!--    {{/if }}  -->
        <div class="dropdown-brewTypes">
            <label for="brewTypes">Brewery Types:</label>
            <select name="brewTypes" id="brewType">
                <option value="Raymond James Stadium">Raymond James Stadium</option>
            </select>
        </div>
        <div class="dropdown-breweries">
            <label for="breweries">Brewery Types:</label>
            <select name="breweries" id="breweries">
                <option value="Raymond James Stadium">Raymond James Stadium</option>
            </select><br><br>
        </div>
    </div>
    <div class="rightside">
        <div class="img" id="img">
            Stadium Name
        </div>
        <div id="create-button">
            <button id="post-form">Create Post</button>
        </div>
    </div>

</div> --}}

<script src="/js/newPost.js"></script>