<div class="dropdown is-active">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Select an Event</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="#" class="dropdown-item">
                Baseball
            </a>
            <a class="dropdown-item">
                Basketball
            </a>
            <a href="#" class="dropdown-item is-active">
                Football
            </a>
            <a href="#" class="dropdown-item">
                Soccer
            </a>
        </div>
    </div>
</div>

<div class="dropdown is-active">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Select a Stadium</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="#" class="dropdown-item">
                Raymond James Stadium
            </a>
            <a class="dropdown-item">
                Fenway Park
            </a>
            <a href="#" class="dropdown-item is-active">
                Stadium Name
            </a>
            <a href="#" class="dropdown-item">
                Stadium Name
            </a>

        </div>
    </div>
</div>

<section class="section">
			<div class="container">
				<!-- Start Carousel -->
				<div id="carousel-demo" class="carousel">
					<div class="item-1">
						<!-- Slide Content -->
					</div>
					<div class="item-2">
						<!-- Slide Content -->
					</div>
					<div class="item-3">
						<!-- Slide Content -->
					</div>
				</div>
				<!-- End Carousel -->
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
		<script>
		bulmaCarousel.attach('#carousel-demo', {
			slidesToScroll: 1,
			slidesToShow: 4
		});
		</script>

{{!--
<div style="display: flex;">
    <div class="leftside">
        <label for="sports"></label>
        <select name="sports" id="sports">
            <option value="Soccer">Soccer</option>
            <option value="Football">Football</option>
        </select>
        <div class="dropdown-stadium">
            <label for="stadium"></label>
            <select name="stadium" id="stadium">
                <option value="Raymond James Stadium">Raymond James Stadium</option>
            </select>
        </div>
        <div class="input-section">
            <label for="section">Section:</label>
            <input type="text" id="section" name="section"><br><br>
        </div>
    </div>
    <div class="rightside">
        <div class="img">
            Stadium Name
        </div>
        <div id="create-button">
            <button id="post-form">Create Post</button>
        </div>
    </div>

</div> --}}

<script src="js/newPost.js"></script>