<div style="display: flex;">
    <div class="leftside">
        <label for="sports"></label>
        <select name="sports" id="sports">
            <option value="Soccer">Soccer</option>
            <option value="Football">Football</option>
        </select>
        <div class="dropdown-stadium">
            <label for="stadium"></label>
            <select name="stadium" id="stadium">
                <option value="Raymond James Stadium">Raymond James Stadium</option>
            </select>
        </div>
        <div class="input-section">
            <label for="section">Section:</label>
            <input type="text" id="section" name="section"><br><br>
        </div>
    </div>
    <div class="rightside">
        <div class="img">
            Stadium Name
        </div>
        <div id="create-button">
            <button id="post-form">Create Post</button>
        </div>
    </div>

</div>

<script src="js/newPost.js"></script>