<div class="container">
    <h1 class="title">Create a New Account!</h1>

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input id="name-signup" class="input" type="text" placeholder="e.g Taylor Swift">
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input id="email-signup" class="input" type="email" placeholder="e.g. tswift@gmail.com">
        </div>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <p class="control">
            <input id="password-signup" class="input" type="password" placeholder="Password">
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button id="signup-form" class="button has-background-warning-dark">
                <p class="has-text-warning-light">Sign Up!</p>
            </button>
        </p>
    </div>
</div>

<script src="js/signup.js"></script>